name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  FORMATS: "gbk gff fna gfa fq embl clw sth"
  COMPRESSIONS: "gzip bzip2 zstd xz"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Pull code
        uses: actions/checkout@v5

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: any2fasta
          environment-file: environment.yml
          miniforge-version: latest
          channels: conda-forge,bioconda
          channel-priority: strict
          auto-update-conda: true

      - name: Set PATH
        run: |
          echo "$GITHUB_WORKSPACE" >> $GITHUB_PATH

      - name: Simple tests
        run: |
          set +x
          any2fasta -v
          any2fasta -h
          echo -e ">1\nA\n\n>2\nT\n" | any2fasta -q - | wc -l | grep '^4$'

      - name: Bad input tests
        run: |
          set +x
          any2fasta test.gbk > /dev/null
          ! any2fasta test.noseq.gff
          ! any2fasta test.* > /dev/null

      - name: File format tests
        run: |
          set +x
          for EXT in $FORMATS ; do
            any2fasta -q test.$EXT > /dev/null
          done

      - name: Output tests
        run: |
          set +x
          any2fasta    test.fna | grep 'CRYANT'
          any2fasta -n test.fna | grep 'CNNANT'
          any2fasta test.gfa | grep '^>24292$'
          any2fasta test.fq | grep '^>ERR1163317.999'
          any2fasta test.sth | grep '^>O83071'
          any2fasta test.clw | grep '^>gene03'
          any2fasta - < test.gbk  | grep -F 'NZ_AHMY02000074' | head -n 1
          
      - name: Reformatting tests
        run: |
          set +x          
          any2fasta -l test.gbk | grep 'taagaatgagtagaaggttttga'
          any2fasta -u test.gbk | grep 'TAAGAATGAGTAGAAGGTTTTGA'
          any2fasta -u test.embl | grep 'K02675'
          any2fasta -q -l -n test.fq | wc -l | grep '^2000$'

      - name: Compression tests
        run: |
          set +x
          FL="head -n 1"
          ACC="NZ_AHMY02000074"
          for EXE in $COMPRESSORS ; do
            $EXE -c test.gbk | any2fasta - | grep -F $ACC | $FL
          done
          zip test.gbk.zip test.gbk
          any2fasta test.gbk.zip | grep -F $ACC | $FL
