name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Pull code
        uses: actions/checkout@v5

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: any2fasta
          environment-file: environment.yml
          miniforge-version: latest
          channels: conda-forge,bioconda
          channel-priority: strict
          auto-update-conda: true

      - name: Run BATS test suite
        run: bats test/test.sh
